#panel-first {
	margin-top: 20px;
}

#fourth-title {
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 24px;
}

.my-select,
.radio-group {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.radio-group .radio:first-child {
	margin-top: 0;
}

footer {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0;
}